{% extends 'base.html' %} 
{% block title %} Home - My Blog {% endblock %} 

{% block content %}
<h2>Welcome to Home Page!</h2>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, nobis. Vero
  aliquid neque, exercitationem velit quia tenetur sequi eligendi fuga totam eum
  autem asperiores eius assumenda dignissimos consectetur alias, facilis
  necessitatibus omnis explicabo blanditiis. Eligendi in et accusamus cum quo!
  Quaerat aut optio iure minus quod culpa quae explicabo iusto!
</p>

{% endblock %}
